html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grey);
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6666666667;
  color: var(--grey);
}
@media screen and (width < 880px) {
  .subtitle {
    font-size: 21px;
  }
}
@media screen and (width < 696px) {
  .subtitle {
    font-size: 18px;
  }
}
@media screen and (width < 375px) {
  .subtitle {
    font-size: 16px;
  }
}

picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

:root {
  --grey: #2C2C2C;
  --white: #FFFFFF;
  --accent: #F07F2E;
  --green: #0F3F3C;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 8px;
}

.header {
  position: relative;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
@media screen and (width < 696px) {
  .header {
    margin-bottom: 25px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6666666667;
  letter-spacing: 0.5px;
  color: var(--accent);
}
@media screen and (width < 696px) {
  .logo {
    z-index: 5;
  }
}

.nav__menu {
  display: flex;
  gap: 40px;
}
.nav__link {
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--grey);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent);
}
.nav__btn {
  display: none;
}
@media screen and (width < 696px) {
  .nav__menu {
    display: none;
  }
  .nav__btn {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: -50px;
  }
  .nav__btn:hover .nav__btn-line {
    background-color: var(--accent);
  }
  .nav__btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--green);
    transition-duration: 750ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__btn-line:nth-child(1) {
    top: 5px;
  }
  .nav__btn-line:nth-child(2) {
    top: 20px;
  }
  .nav__btn-line:nth-child(3) {
    top: 20px;
  }
  .nav__btn-line:nth-child(4) {
    top: 35px;
  }
  .nav__menu-open {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 55px 20px 25px;
    top: 0px;
    height: 40vh;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--green);
    transform: translateX(0%);
    transition-duration: 750ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__menu-open .nav__btn {
    display: flex;
    align-self: end;
    margin-top: -40px;
    z-index: 5;
  }
  .nav__menu-open .nav__btn-line {
    width: 80%;
    background-color: #fff;
  }
  .nav__menu-open .nav__btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .nav__menu-open .nav__btn-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .nav__menu-open .nav__btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .nav__menu-open .nav__btn-line:nth-child(4) {
    transform: scaleX(0);
  }
  .nav__menu-open .nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__menu-open .nav__link {
    font-size: 20px;
    color: var(--white);
  }
  .nav__menu-open .nav__link:hover, .nav__menu-open .nav__link:focus {
    color: var(--accent);
  }
}

.hero {
  position: relative;
  margin-bottom: 45px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 480px;
  min-width: 260px;
  color: var(--white);
  border-radius: 16px;
}
.hero__inner-text {
  position: absolute;
  bottom: 52px;
  left: 24px;
  width: 432px;
  padding: 24px;
  background-color: var(--green);
  border-radius: 16px;
}
.hero__title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 1.25px;
}
.hero__text {
  max-width: 384px;
}
@media screen and (width < 880px) {
  .hero__inner-text {
    bottom: 16px;
    width: 350px;
  }
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (width < 696px) {
  .hero__inner-text {
    width: 320px;
    padding: 10px;
  }
  .hero__title {
    font-size: 22px;
  }
  .hero__text {
    font-size: 14px;
  }
}
@media screen and (width < 375px) {
  .hero__inner-text {
    width: 280px;
    padding: 10px;
  }
  .hero__title {
    font-size: 18px;
  }
  .hero__text {
    font-size: 12px;
  }
}
@media screen and (width < 320px) {
  .hero__inner-text {
    width: 240px;
    padding: 10px;
  }
  .hero__title {
    font-size: 16px;
  }
  .hero__text {
    font-size: 12px;
  }
}

.kittens {
  padding-bottom: 45px;
}
.kittens__title {
  margin-bottom: 40px;
}
.kittens__list {
  display: flex;
  gap: 0 40px;
}
.kittens__inner {
  padding: 16px 8px 24px 8px;
}
.kittens__item {
  border-radius: 16px;
  overflow: hidden;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.kittens__item:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.kittens__item-title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grey);
}
@media screen and (width < 880px) {
  .kittens__title {
    margin-bottom: 35px;
  }
  .kittens__list {
    gap: 0 20px;
  }
  .kittens__inner {
    padding: 16px 8px 16px 8px;
  }
  .kittens__item-text {
    font-size: 14px;
  }
}
@media screen and (width < 696px) {
  .kittens__title {
    margin-bottom: 30px;
  }
  .kittens__list {
    gap: 0 10px;
  }
  .kittens__inner {
    padding: 8px;
  }
  .kittens__item-text {
    font-size: 13px;
  }
}
@media screen and (width < 596px) {
  .kittens__list {
    display: block;
  }
  .kittens__item {
    width: 90%;
    margin: 0 auto 30px;
  }
  .kittens__inner {
    padding: 8px;
  }
  .kittens__item-text {
    font-size: 14px;
  }
}

.gallery {
  padding-bottom: 45px;
}
.gallery__title {
  margin-bottom: 8px;
}
.gallery__text {
  margin-bottom: 40px;
}
.gallery__card {
  overflow: hidden;
  border-radius: 16px;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__card:hover {
  transform: scale(1.009);
  box-shadow: -3px -3px 49px rgba(10, 1, 1, 0.04), 3px 10px 36px rgba(0, 0, 0, 0.1);
}
.gallery__img {
  width: 100%;
}
.gallery__slider {
  position: relative;
  padding-top: 50px;
}
.gallery__slider .swiper-wrapper {
  margin-top: 30px;
}
.gallery__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__button:hover {
  background-color: var(--accent);
}
.gallery__button-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.swiper-button-left {
  transform: translateX(-66px);
}

.swiper-button-right {
  transform: translateX(12px);
}

.footer {
  padding: 48px 0;
  color: var(--white);
  background-color: var(--green);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__img {
  margin-bottom: 8px;
}
@media screen and (width < 696px) {
  .footer {
    padding: 28px 0;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__text {
    margin-bottom: 40px;
    text-align: center;
  }
  .footer__img {
    margin: 0 auto 8px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.social__list {
  display: flex;
  gap: 0 32px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--green);
  border-radius: 50%;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  background-color: var(--white);
}
.social__link:hover svg {
  fill: var(--accent);
}
.social__link svg {
  width: 16px;
  height: 16px;
  fill: var(--white);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}
@media screen and (width < 696px) {
  .social {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */