html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--ligth-grey);
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6666666667;
  color: var(--grey);
}

picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

:root {
  --grey: #2C2C2C;
  --white: #FFFFFF;
  --accent: #F07F2E;
  --green: #0F3F3C;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 8px;
}

.header {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6666666667;
  letter-spacing: 0.5px;
  color: var(--accent);
}

.nav {
  display: flex;
  gap: 0 40px;
}
.nav__link {
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--grey);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent);
}

.kittens {
  padding-bottom: 45px;
}
.kittens__title {
  margin-bottom: 40px;
}
.kittens__list {
  display: flex;
  gap: 0 40px;
}
.kittens__inner {
  padding: 16px 8px 24px 8px;
}
.kittens__item {
  border-radius: 16px;
  overflow: hidden;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.kittens__item:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.kittens__item-title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--grey);
}

.hero {
  position: relative;
  margin-bottom: 45px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 480px;
  color: var(--white);
  border-radius: 16px;
}
.hero__inner-text {
  position: absolute;
  bottom: 52px;
  left: 24px;
  width: 432px;
  padding: 24px;
  background-color: var(--green);
  border-radius: 16px;
}
.hero__title {
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 1.25px;
}
.hero__text {
  max-width: 384px;
}

.gallery {
  padding-bottom: 45px;
}
.gallery__title {
  margin-bottom: 8px;
}
.gallery__text {
  margin-bottom: 40px;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.gallery__item {
  flex-basis: calc((100% - 80px) / 6);
  border-radius: 16px;
  overflow: hidden;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__item:hover {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

.footer {
  padding: 48px 0;
  color: var(--white);
  background-color: var(--green);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__img {
  margin-bottom: 8px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.social__list {
  display: flex;
  gap: 0 32px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--green);
  border-radius: 50%;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  background-color: var(--white);
}
.social__link:hover svg {
  fill: var(--accent);
}
.social__link svg {
  width: 16px;
  height: 16px;
  fill: var(--white);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__text {
  margin-bottom: 8px;
}/*# sourceMappingURL=style.css.map */