html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24/16);
  color: var(--ligth-grey);
  letter-spacing: 0.5px;
  // min-width: 320px;
  // overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  // height: auto;
  // line-height: 0;
  // width: 100%;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(40/24);
  color: var(--grey);
}

picture {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


button {
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}