.footer {
  padding: 48px 0;
  color: var(--white);
  background-color: var(--green);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    margin-bottom: 8px;
  }


  @media screen and (width < 696px) {
    padding: 28px 0;
    &__inner {
      flex-direction: column;
    }

    &__text {
      margin-bottom: 40px;
      text-align: center;
    }

    &__img {
      margin:0 auto 8px;
    }
  }
}